<ion-header no-border>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h1 class="greeting">Hola</h1>
    <h3 class="greeting">¿que perdiste?</h3>
  </ion-text>
  <br>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-card-header>
          <ion-card-subtitle>¿Identidad?</ion-card-subtitle>
        </ion-card-header>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <img src="../../../assets/identidad.png" style="height: 70px; width: 100px;" />
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-card-header>
          <ion-card-subtitle>¿Tarjetas?</ion-card-subtitle>
        </ion-card-header>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <img src="../../../assets/tarjetas.png" style="height: 70px; width: 100px;" />
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-card-header>
          <ion-card-subtitle>¿licencias?</ion-card-subtitle>
        </ion-card-header>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <img src="../../../assets/licencia.png" style="height: 70px; width: 70px;" />
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-card-header>
          <ion-card-subtitle>¿Otro?</ion-card-subtitle>
        </ion-card-header>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <img src="../../../assets/Otro.png" style="height: 70px; width: 70px;" />
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>